# ===============================
# Variáveis de ambiente
# ===============================
.env

# ===============================
# Ambientes virtuais
# ===============================
venv/
env/

# ===============================
# Cache Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Dependências e builds
# ===============================
*.egg-info/
*.dist-info/

# ===============================
# Dados e arquivos temporários
# ===============================
dataset/
assets/
*.zip
*.jpg
*.png

# ===============================
# IDEs e sistema
# ===============================
.vscode/
.idea/
.DS_Store
